html, body {
    height: 100%;
    width:100%;
    box-sizing: border-box;
    overflow-x: hidden;

}




.topspace{
    margin-top: 60px;
}


  
nav{
    
    background-color: rgb(226, 74, 74);
    width:100%;
    padding-bottom: 20px !important;
    display: flex;
}

.nav-item{
    display:flex;
    justify-content: right;
    padding-right: 1px;
    padding-left:1px;
    padding-top:1px;
    padding-bottom:1px;
    
  
}
.nav-item:hover{
    color:white;
    border: 2px solid;
    border-color:rgb(167, 56, 80);
    border-radius: 10px !important;
    background-color: black;
    align-content: center;

}

.textblah{
    background-image: url(images/luca-bravo-hFzIoD0F_i8-unsplash.jpg);
    background-size:cover;
    

    background-repeat:no-repeat;
    padding-top:200px;
    padding-bottom:200px;
    font-size: 30px;
    display:flex;
    flex-direction: column;
    text-shadow: 70%;
    color:azure;
    text-align:left;
    align-content:start;
    box-shadow:black ;
    
    
}
.textblah3{
    background-image: url(images/mohamed-masaau-nfF5-G6cFwY-unsplash.jpg);
    background-size:cover;
    

    background-repeat:no-repeat;
    padding-top:200px;
    padding-bottom:200px;
    font-size: 30px;
    display:flex;
    flex-direction: column;
    text-shadow: 70%;
    color:azure;
    text-align:right;
    align-content:start;
    box-shadow:black ;
    padding-right: 30px;
}

h1{
    font-size: 55px !important;
    padding-left: 150px;
    text-decoration: brown;
}
p{
    padding-left:150px;
}
.navbar-brand{
    padding-left: 50px;
}
.textblah2{
    padding-top:100px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.card-group{
    padding-left:100px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 70px;
}
footer{
    padding-top: 30px;
   
}
.brandname{
    font-weight: 100;
    float: left;
    margin-left: 100px;
}
.footericons{
    float:right;
    margin-right:50px
}
.columns{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
}
.column{
    width:287px;
    height: 350px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top:80px;
    font-weight: 500;
    font-size: 40px;
}
.columns2{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
}
.column2{
    margin-top: 30px;
    width:287px;
    height: 350px;
    text-align: left;
    
}
.columns1{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    margin-bottom: 50px;

}
.column3{
    float:left;
    width:300px;
}
.column3s{
    width:600px;
    float:right;
}
.cardtiles{
    width: auto;
    margin-top: 70px;
    margin-bottom: 80px;
}
.overlap{
    width: 90%;
    margin:5%;
    display:flex;

    

}
.row1{
    width:50%;

    

    
    
    
}
.column4a{
    width:50%;
    background-color: darkcyan;
    padding:20px;
    border-radius: 30px;
    
   
    
    
    
}
.image{
    border-radius: 30px;
}

@media only screen and (max-width: 768px) {
    html, body {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        
    
    }
    .row{
        
        display:block;
    }
    .card-group{
        
        display:block;
    }
    .columns, .columns2 {
        
        display: block;
    }
    .row1{
        
        display: block;
    }

    }
    
    
